.nav {
  font-size: 1.5rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #B2EBF2;
}

.navLinks {
  display: flex;
  flex-direction: row;
}

.navLinks li:not(:last-child) {
  margin-right: 2rem;
}

.username {
  font-size: 2rem;
  font-weight: bold;
}