.post {
  position: relative;
  max-width: 700px;
  margin: 0 auto 2em;
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.postTitle {
  font-size: 2.4em;
  margin-right: 1em;
}

.postAuthor {
  font-size: 1.6em;
}

.postPicture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 1em;
}

.postFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.postDate {
  font-size: 1.4em;
}

.postReactions {
  display: flex;
  flex-direction: row;
}

.authActions {
  display: flex;
  flex-direction: row;
}

.authActions button:not(:last-child) {
  margin-right: 1rem;
}