.mainWrapper {
  position: relative;
}

.postListOptions {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 859px) {
  .postListOptions {
    flex-direction: column;
    align-items: center;
  }
}